<h2>Breaker page for {{breaker.breakerName}}</h2>
Crew: {{breaker.crew}}<br>
Location: {{breaker.location}}<br>
Bio: {{breaker.bio}}<br>

{{#if currentUser}}
Test
<a href="/breakers/{{breaker.slug}}/edit">Edit Info</a>
{{/if}}
